html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 70px;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  padding: 70px 0px !important;
  max-width: 70vw !important;
}

#about-area .container,
#recycle-info .container,
#services-area .container,
#contact-area .container {
  max-width: 100vw;
}

p,
li {
  color: #444;
  font-size: 14px;
}

header,
.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#003f74), to(#0076d0));
  background: linear-gradient(90deg, #003f74 0%, #0076d0 100%);
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-bottom: 3px solid #65daf9;
}

#nav-container {
  padding: 0 !important;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Akshar", sans-serif;
  padding: 0 !important;
  color: #fff;
}

.navbar-brand:hover {
  -webkit-animation: logo 2s ease-in-out infinite;
          animation: logo 2s ease-in-out infinite;
}

#logo {
  padding: 0 !important;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#navbar-links {
  margin: 0 !important;
  padding-right: 0 !important;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background: #171f53;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
  letter-spacing: 0.7px;
}

#mainSlider .carousel-caption h2 {
  font-family: "Akshar", sans-serif;
  font-size: 70px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 60px;
  color: #fff;
}

#mainSlider .carousel-item img {
  opacity: 0.9;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainSlider .carousel-item:hover img {
  opacity: 1;
}

.main-btn {
  background: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #fff;
  background: transparent;
  border-color: #65daf9;
}

.carousel-control-prev {
  left: -5%;
}

.carousel-control-next {
  right: -5%;
}

.carousel-indicators li {
  position: relative;
  bottom: 5px;
  right: auto;
  left: auto;
}

.carousel-indicators .active {
  background: #65daf9;
}

#about-area {
  background: #f9f9f9;
}

.main-title {
  color: #444;
  margin: 0 0 25px 0;
  font-size: 46px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

#about-text {
  font-size: 18px;
  text-align: justify;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #76b041;
  margin-right: 15px;
}

#service-area {
  min-height: 90vh;
}

.service-box {
  text-align: center;
  margin-bottom: 35px;
}

.service-box i,
.service-box h4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 16px;
}

.service-box:hover i,
.service-box:hover h4 {
  color: #76b041;
}

#social-media .container-fluid {
  border-radius: 50px;
}

#social-medias-index {
  background: #1c2431;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialmedias-index-title {
  font-family: "Akshar", sans-serif;
  font-size: 3em;
  letter-spacing: 1px;
  text-align: center;
  color: #3ec1d5;
}

.socialmediacard {
  padding: 20px;
  background: #1c2431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialmediacard a img {
  width: 70px;
  height: 70px;
}

.socialmedia-title {
  font-family: "Akshar", sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  text-align: center;
  color: #3ec1d5;
}

#recycle-info p {
  font-size: 20px;
  color: #444;
  text-indent: 20px;
}

#recycle-info .recy-title {
  font-family: "Akshar", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
}

#recycle-info #ciclo-reciclagem {
  background-image: url("../img/recycling.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

#apply-area {
  min-height: 520px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  text-align: center;
  padding: 60px 50px;
}

#apply-area #pattern-img h4,
#apply-area #pattern-img p {
  color: #fff;
}

#apply-area #pattern-img h4 {
  font-family: "Akshar", sans-serif;
  font-size: 3em;
  margin-top: 8%;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#apply-area #pattern-img p {
  font-size: 16px;
  margin-bottom: 20px;
}

#apply-area #apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-area #apply-btn:hover {
  border-color: #65daf9;
  background-color: #65daf9;
}

#call-area {
  background: #1c2431;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background: #65daf9;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#call-area #call-btn:hover {
  background: transparent;
  color: #65daf9;
}

#contact-area {
  text-align: center;
}

#contact-area textarea {
  min-height: 120px;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-box i:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  color: #65daf9;
  border-color: #65daf9;
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

#contact-form input:focus:-ms-input-placeholder {
  color: transparent;
}

#contact-form input:focus::-ms-input-placeholder {
  color: transparent;
}

#contact-form input:focus::placeholder {
  color: transparent;
}

#contact-form .form-control {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form label {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: "Akshar", sans-serif;
  display: block;
  text-align: left;
  margin-bottom: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
  margin-top: 15px;
}

#contact-form .main-btn:hover {
  color: #3ec1d5;
}

#copy-area {
  background: #1c2431;
}

#copy-area .container {
  padding: 10px 0 0 !important;
  text-align: center;
  max-width: 90vw;
}

#copy-area .container p {
  color: #777;
  font-size: 20px;
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

.social-list {
  padding-top: 15px;
  padding-left: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list svg {
  color: #fff;
  width: 16px;
  height: 16px;
  margin: 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-list svg:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #65daf9;
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 52px;
  }
  .navbar .nav-link {
    font-size: 1.25em;
  }
  .navbar .navbar-brand {
    font-size: 3em;
  }
  #mainSlider .carousel-caption {
    top: 20%;
    right: 4%;
    left: 4%;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 84px;
  }
  #mainSlider .carousel-caption p {
    font-size: 32px;
  }
  #mainSlider .carousel-caption .main-btn {
    font-size: 24px;
  }
  #about-area .about-title {
    font-size: 32px;
  }
  #about-area p {
    font-size: 18px;
  }
  #pattern-img p {
    font-size: 18px !important;
  }
  #pattern-img .main-btn {
    font-size: 18px !important;
  }
  .service-box h4 {
    font-size: 34px;
  }
  .service-box p {
    font-size: 20px !important;
  }
  #contact-area .contact-box i {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }
  #contact-area .contact-box p {
    font-size: 22px;
  }
  #contact-area .contact-box .contact-title {
    font-size: 24px;
  }
  #contact-area #msg-box p {
    font-size: 36px !important;
  }
  #contact-area #contact-form label {
    font-size: 24px;
  }
  #contact-area .form-control {
    min-height: 45px;
  }
  #contact-area .form-control::-webkit-input-placeholder {
    font-size: 24px;
  }
  #contact-area .form-control:-ms-input-placeholder {
    font-size: 24px;
  }
  #contact-area .form-control::-ms-input-placeholder {
    font-size: 24px;
  }
  #contact-area .form-control::placeholder {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  #mainSlider .carousel-caption {
    left: 5%;
    right: 5%;
  }
  #mainSlider .carousel-caption p {
    margin-bottom: 40px;
  }
  #mainSlider .carousel-caption .main-btn {
    font-size: 20px;
  }
  #call-area .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  .main-title {
    font-size: 42px;
  }
  #mainSlider .d-block {
    height: 500px;
  }
  #mainSlider .carousel-item,
  #mainSlider .carousel-inner {
    height: auto;
    width: 100vw !important;
    margin: 0 !important;
  }
  #mainSlider .d-block.w-100 {
    opacity: 1;
  }
  #mainSlider .carousel-caption {
    top: 25%;
  }
  #mainSlider .carousel-caption h2 {
    line-height: 1em;
    margin-bottom: 10px;
  }
  #mainSlider .carousel-caption p {
    line-height: 1.25em;
    margin-bottom: 30px;
  }
  #mainSlider .carousel-caption .d-block {
    padding-bottom: 0 !important;
  }
  #about-area img {
    margin-top: 100px;
  }
  #recycle-info .recy-title {
    font-size: 32px;
  }
  #recycle-info #ciclo-reciclagem {
    margin-top: 125px;
  }
  #call-area p {
    font-size: 16px;
  }
  #call-area .main-btn {
    font-size: 16px;
  }
  .contact-box p {
    font-size: 14px;
  }
  #copy-area .container p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  #mainSlider .d-block {
    height: 350px;
  }
  #mainSlider .carousel-caption {
    top: 25%;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 54px;
    line-height: 0.8em;
  }
  #mainSlider .carousel-caption p {
    font-size: 20px;
    line-height: 0.8em;
    margin-bottom: 45px;
  }
  #mainSlider .carousel-caption .main-btn {
    font-size: 14px;
  }
  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .socialmediacard {
    padding-top: 0;
    padding-bottom: 0;
  }
  #about-area {
    font-size: 14px;
  }
  #company-img {
    display: none;
  }
  #call-area {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-area .main-title {
    font-size: 32px;
  }
  #contact-area .contact-box p {
    font-size: 20px;
  }
  #copy-area .container p {
    font-size: 18px;
  }
  #copy-area .social-list svg {
    width: 35px;
    height: 20px;
  }
}

@media (max-width: 576px) {
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    width: 100vw;
    margin-right: 0 !important;
  }
  #mainSlider .carousel-inner .d-block {
    height: 350px !important;
  }
  #mainSlider .carousel-caption p {
    display: none;
  }
  #mainSlider .carousel-caption h2 {
    margin-bottom: 35px;
  }
  #mainSlider .carousel-caption .main-btn {
    font-size: 14px;
  }
  #mainSlider .carousel-caption .main-btn.mais {
    position: relative;
    top: 75px;
  }
  #recycle-info #ciclo-reciclagem {
    background-image: url("../img/cycle2.png");
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-title {
    font-size: 36px;
  }
  #pattern-img {
    margin-top: -180px;
  }
  #contact-area .container,
  #services-area .container {
    max-width: 90vw;
  }
  #contact-area .main-title,
  #services-area .main-title {
    font-size: 24px;
    line-height: 24px;
  }
  #services-area .main-title {
    line-height: 48px;
  }
  #call-area p {
    line-height: 16px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  #call-area #call-btn {
    display: block;
    height: 50px;
    margin-left: 0;
    margin-top: 20px;
    font-size: 22px;
    line-height: 22px;
  }
}

@media (max-width: 350px) {
  .navbar-brand {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=styles.css.map */