$light-blue: #65daf9;
$dark-blue: #1c2667;
$green: #76b041;
$medium-blue: #054ce0;

// Gerais

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 70px;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container {
    padding: 70px 0px !important;
}

p,
li {
    color: #444;
    font-size: 14px;
}

// Navigation Bar

header,
.navbar {
    background: linear-gradient(90deg, rgba(0, 63, 116, 1) 0%, rgba(0, 118, 208, 1) 100%);
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 3px solid $light-blue;
}

#logo {
    width: 60px;
    height: 60px;
}

#nav-container {
    padding: 0 !important;
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Akshar", sans-serif;

    padding: 0 !important;
    color: #fff;

    &:hover {
        animation: logo 2s ease-in-out infinite;
    }
}

@keyframes logo {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

#navbar-links {
    a {
        color: #fff;
    }

    margin: 0 !important;
    padding-right: 0 !important;
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding: 1rem 0.8rem;
            transition: 0.7s;

            &:hover {
                background: darken($dark-blue, 5);
                transform: scale(1.08);
            }
        }
    }
}

// Slider

.container-fluid {
    padding: 0;
}

#mainSlider {
    .carousel-inner,
    .carousel-item {
        height: 90vh;
    }

    .carousel-caption {
        top: 30%;

        letter-spacing: 0.7px;

        h2 {
            font-family: "Akshar", sans-serif;
            font-size: 70px;
            margin-bottom: 30px;
        }

        p {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 60px;
            color: #fff;
        }
    }

    .carousel-item {
        img {
            opacity: 0.9;
            transition: 0.7s;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }
}

.main-btn {
    background: $light-blue;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;

    &:hover {
        text-decoration: none;
        color: #fff;
        background: transparent;
        border-color: $light-blue;
    }
}

.carousel-indicators {
    li {
        position: relative;
        bottom: 5px;
        right: auto;
        left: auto;
    }
    .active {
        background: $light-blue;
    }
}

//  About the company

#about-area {
    background: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 46px;
    text-align: center;

    &::after {
        content: "";
        border-top: 2px solid #333;
        width: 15%;
        position: absolute;
        top: 60px;
        left: 42.5%;
    }
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;

    li {
        line-height: 30px;
    }

    i {
        color: $green;
        margin-right: 15px;
    }
}

// Services

#service-area {
    min-height: 90vh;
}
.service-box {
    text-align: center;
    margin-bottom: 35px;

    i,
    h4 {
        transition: 0.5s;
    }

    i {
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }

    h4 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }

    &:hover {
        i,
        h4 {
            color: $green;
        }
    }
}

// About recycling

#recycle-info {
    p {
        font-size: 20px;
        color: #444;
        text-indent: 20px;
    }

    .recy-title {
        font-family: "Akshar", sans-serif;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #ciclo-reciclagem {
        background-image: url("../img/recycling.png");
        background-size: contain;
        background-repeat: no-repeat;

        height: 500px;
    }
}

// Work with us

#apply-area {
    min-height: 520px;

    .container-fluid,
    .row {
        height: 100%;
    }

    .apply-box {
        text-align: center;
        padding: 60px 50px;
    }

    #pattern-img {
        h4,
        p {
            color: #fff;
        }

        h4 {
            font-family: "Akshar", sans-serif;
            font-size: 3em;
            margin-top: 8%;
            margin-bottom: 40px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    #apply-btn {
        display: block;

        height: auto;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        background-color: transparent;
        border-color: #fff;

        &:hover {
            border-color: $light-blue;
            background-color: $light-blue;
        }
    }
}

// Call to action

#call-area {
    background: $light-blue;
    text-transform: uppercase;

    .container {
        padding: 40px 100px;
    }

    .row {
        display: block;
        text-align: center;
    }

    p {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        width: auto;
        letter-spacing: 2px;
        margin-bottom: 0;
        display: inline;
        height: 60px;
        line-height: 60px;
    }

    #call-btn {
        background: #fff;
        color: $light-blue;
        font-weight: bold;
        font-size: 20px;
        margin-left: 30px;
        width: auto;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }
}

// Footer

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3ec1d5;

    i {
        color: #444;
        border: solid 1px #444;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 24px;
        margin-bottom: 20px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.35);
            color: $light-blue;
            border-color: $light-blue;
        }
    }

    p {
        font-size: 16px;
    }
}

.contact-title {
    font-weight: bold;
    color: #3ec1d5;
}

#msg-box {
    p {
        font-size: 22px;
    }
}

#contact-form {
    .form-control {
        margin-bottom: 15px;
        border-radius: 0;
    }

    label {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        font-family: "Akshar", sans-serif;
        margin-right: 90%;
        margin-bottom: 0;
    }

    .main-btn {
        width: 120px;
        height: 50px;
        margin-top: 15px;

        &:hover {
            color: #3ec1d5;
        }
    }
}
// Copy

#copy-area {
    background: #dfdfdf;

    .container {
        padding: 10px 0;
        text-align: center;

        p {
            margin-bottom: 0;
        }

        a {
            font-weight: bold;
            color: #444;
            transition: 0.35s;

            &:hover {
                text-decoration: none;
                color: #3ec1d5;
            }
        }
    }
}

// Responsivity

// Extra large (>=1200px)

@media (min-width: 1200px) {
    // geral
    .main-title {
        font-size: 52px;
    }

    // header
    .navbar {
        .nav-link {
            font-size: 1.25em;
        }

        .navbar-brand {
            font-size: 3em;
        }
    }

    #mainSlider {
        .carousel-caption {
            top: 20%;
            right: 4%;
            left: 4%;

            h2 {
                font-size: 84px;
            }

            p {
                font-size: 32px;
            }

            .main-btn {
                font-size: 24px;
            }
        }
    }
    // About area
    #about-area {
        img {
            height: 100%;
        }
        .about-title {
            font-size: 32px;
        }

        p {
            font-size: 18px;
        }
    }
    // apply
    #pattern-img {
        p {
            font-size: 18px !important;
        }
        .main-btn {
            font-size: 18px !important;
        }
    }
    // serviços
    .service-box {
        h4 {
            font-size: 34px;
        }
        p {
            font-size: 20px !important;
        }
    }
    // Contato
    #contact-area {
        .contact-box {
            i {
                width: 75px;
                height: 75px;
                line-height: 75px;
            }

            p {
                font-size: 24px;
            }

            .contact-title {
                font-size: 24px;
            }
        }

        #msg-box {
            p {
                font-size: 36px !important;
            }
        }

        #contact-form {
            label {
                font-size: 24px;
            }
        }

        .form-control {
            min-height: 45px;
            &::placeholder {
                font-size: 24px;
            }
        }
    }
}

// Large (>= 992px)

@media (max-width: 1200px) {
    // Carousel
    #mainSlider {
        .carousel-caption {
            left: 5%;
            right: 5%;

            p {
                margin-bottom: 40px;
            }

            .main-btn {
                font-size: 20px;
            }
        }
    }
    // Call-to-action
    #call-area {
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

// Medium (>= 768px)

@media (max-width: 992px) {
    // carousel
    #mainSlider {
        .carousel-item,
        .carousel-inner {
            height: auto;
            width: 100vw !important;
            margin: 0 !important;
        }
        .carousel-caption {
            h2 {
                line-height: 1em;
            }

            p {
                line-height: 1.25em;
            }

            .d-block {
                padding-bottom: 0 !important;
            }
        }
    }

    // About area
    #about-area {
        img {
            margin-top: 75px;
            height: 300px;
        }
    }

    // Recycle info
    #recycle-info {
        .recy-title {
            font-size: 42px;
        }
        #ciclo-reciclagem {
            margin-top: 125px;
        }
    }
    // Call area
    #call-area {
        p {
            font-size: 16px;
        }
        .main-btn {
            font-size: 16px;
        }
    }
}

// Small (>= 576px)

@media (max-width: 768px) {
    // carousel
    #mainSlider {
        .carousel-caption {
            top: 35%;

            h2 {
                font-size: 54px;
                line-height: 0.8em;
            }
            p {
                font-size: 20px;
                line-height: 0.8em;
            }
            .main-btn {
                font-size: 14px;
            }
        }
    }

    // About area
    #about-area {
        img {
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    // company image
    #company-img {
        display: none;
    }

    // Call area
    #call-area {
        height: 150px;
        display: flex;
        align-items: center;
    }
    // Contact-area
    #contact-area {
        .main-title {
            font-size: 42px;
        }
    }
}

// Small (< 576px)

@media (max-width: 576px) {
    // Slider
    #mainSlider {
        .carousel-inner,
        .carousel-item {
            width: 100vw;
            margin-right: 0 !important;
        }
        .carousel-caption {
            p {
                display: none;
            }

            h2 {
                margin-bottom: 55px;
            }
            .main-btn {
                font-size: 14px;
            }
        }
    }
}
// Phone
@media (max-width: 500px) {
    
}
