html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 70px;
}

body {
  font-family: "Roboto", sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

header,
.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#003f74), to(#0076d0));
  background: linear-gradient(90deg, #003f74 0%, #0076d0 100%);
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Akshar", sans-serif;
  padding: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background: #171f53;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
  letter-spacing: 0.7px;
}

#mainSlider .carousel-caption h2 {
  font-family: "Akshar", sans-serif;
  font-size: 70px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 60px;
  color: #fff;
}

#mainSlider .carousel-item img {
  opacity: 0.9;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#mainSlider .carousel-item:hover img {
  opacity: 1;
}

.main-btn {
  background: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  color: #fff;
  background: transparent;
  border-color: #65daf9;
}

.carousel-indicators .active {
  background: #65daf9;
}

#about-area {
  background: #f9f9f9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 46px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #76b041;
  margin-right: 15px;
}

.service-box {
  text-align: center;
  margin-bottom: 35px;
}

.service-box i,
.service-box h4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

.service-box p {
  font-size: 16px;
}

.service-box:hover i,
.service-box:hover h4 {
  color: #76b041;
}

#recycle-info p {
  font-size: 20px;
  color: #444;
}

#recycle-info .recy-title {
  font-family: "Akshar", sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
}

#recycle-info #ciclo-reciclagem {
  background-image: url("../img/recycling.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

#apply-area {
  height: 520px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  text-align: center;
  padding: 60px 50px;
}

#apply-area #company-img {
  background-image: url("../img/empresa.jpg");
  background-size: cover;
  height: 100%;
}

#apply-area #pattern-img h4,
#apply-area #pattern-img p {
  color: #fff;
}

#apply-area #pattern-img h4 {
  font-family: "Akshar", sans-serif;
  font-size: 3.5em;
  margin-top: 8%;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#apply-area #pattern-img p {
  font-size: 16px;
  margin-bottom: 20px;
}

#apply-area #apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-area #apply-btn:hover {
  border-color: #65daf9;
  background-color: #65daf9;
}

#call-area {
  background: #65daf9;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background: #fff;
  color: #65daf9;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
}

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-box i:hover {
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
  color: #65daf9;
  border-color: #65daf9;
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form .form-control {
  margin-bottom: 20px;
  border-radius: 0;
}

#contact-form label {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: "Akshar", sans-serif;
  margin-right: 90%;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
  margin-top: 15px;
}

#contact-form .main-btn:hover {
  color: #3ec1d5;
}

#confirmation-text {
  font-size: 36px;
  color: #76b041;
  margin-top: 70px;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#copy-area {
  background: #dfdfdf;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }
  #mainSlider .carousel-caption {
    left: 10%;
    right: 10%;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }
  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #about-area img {
    margin-top: 100px;
  }
  .circle-box div {
    padding: 0 10px;
  }
  #data-area p {
    font-size: 16px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  #apply-area .apply-box {
    padding: 50px 25px;
  }
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #email-input {
    width: 70%;
  }
  #call-area {
    margin-top: 30px;
  }
  #call-area .container {
    padding: 30px;
  }
  #call-area p,
  #call-area #call-btn {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .main-title {
    font-size: 30px;
    margin-top: 30px;
  }
  .main-title::after {
    margin-top: 30px;
  }
  #mainSlider {
    margin-top: 90px;
  }
  #mainSlider .carousel-caption {
    top: 5%;
  }
  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #mainSlider .carousel-caption p {
    display: none;
  }
  #mainSlider .carousel-caption .main-btn {
    font-size: 14px;
  }
  #about-area img {
    width: 95%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .circle-box {
    width: 50%;
  }
  .circle-box:nth-child(1), .circle-box:nth-child(2) {
    margin-bottom: 30px;
  }
  #team-area .card-title {
    font-size: 18px;
  }
  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }
  #apply-area {
    height: auto;
  }
  #company-img {
    display: none;
  }
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }
  #portfolio-area .project-box {
    width: 50%;
  }
  #news-area .main-title {
    font-size: 24px;
  }
  #news-area .main-title::after {
    margin-top: 0;
  }
  #news-area p {
    font-size: 16px;
  }
  #email-input {
    width: 85%;
  }
  #call-area .container,
  #call-area .row {
    padding: 10px;
  }
  #call-area p,
  #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
    margin: 0;
    width: 50%;
  }
  .contact-box {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */