$light-blue: #65daf9;
$header-nav-bg: #353d41;

// Gerais

body {
    font-family: "Roboto", sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

// Navigation Bar

header,
.navbar {
    background: $header-nav-bg;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

#navbar-links {
    a {
        color: #fff;
    }
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding: 1rem 0.8rem;
        }
    }
}

// Slider

.container-fluid {
    padding: 0;
}

#mainSlider {
    .carousel-inner,
    .carousel-item {
        height: 90vh;
    }

    .carousel-caption {
        top: 30%;

        h2 {
            font-size: 50px;
            margin-bottom: 30px;
        }

        p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 100px;
            color: #fff;
        }
    }
}

.main-btn {
    background: $light-blue;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;

    &:hover {
        text-decoration: none;
        color: #fff;
        background: transparent;
        border-color: $light-blue;
    }
}

.carousel-indicators {
    .active {
        background: $light-blue;
    }
}

//  About the company

#about-area {
    background: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;

    &::after {
        content: "";
        border-top: 2px solid #333;
        width: 15%;
        position: absolute;
        top: 60px;
        left: 42.5%;
    }
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;

    li {
        line-height: 30px;
    }

    i {
        color: $light-blue;
        margin-right: 15px;
    }
}

// Services

.service-box {
    text-align: center;
    margin-bottom: 50px;

    i,
    h4 {
        transition: 0.5s;
    }

    i {
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }

    h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    &:hover {
        i,
        h4 {
            color: $light-blue;
        }
    }
}

// Company Data

.circle-box {
    display: flex;
    align-items: center;

    div {
        padding: 0 40px;
    }

    svg {
        align-self: center;
    }
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;

    position: absolute !important;
    top: 200px !important;
    left: 130px !important;
}

#data-area {
    p {
        color: #fff;
        text-align: center;
        align-self: center;
        font-size: 26px;
        margin-top: 20px;
    }
}

#circleC {
    top: 15px;

    .progressbar-text {
        top: 160px !important;
        left: 130px !important;
    }
}

// Team cards

.card-body {
    text-align: center;
}

// Work with us

#apply-area {
    height: 500px;

    .container-fluid,
    .row {
        height: 100%;
    }

    .apply-box {
        text-align: center;
        padding: 70px 50px;
    }
}

#company-img {
    background-image: url("../img/empresa.jpg");
    background-size: cover;
    height: 100%;
}

#pattern-img {
    h4,
    p {
        color: #fff;
    }

    h4 {
        margin-top: 8%;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 20px;
    }
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;

    &:hover {
        border-color: $light-blue;
        background-color: $light-blue;
    }
}

// Portfolio

.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area {

    .main-btn {
        outline: none;
    }

    .filter-btn {
        color: #444;
        border: 1px solid #444;
        background-color: transparent;
        text-transform: none;
        margin: 0 15px;
        min-width: 100px;
        width: auto;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;

        &.active,
        &:hover {
            color: #fff;
            background-color: $light-blue;
            border-color: $light-blue;
        }
    }
}

// Newsletter

#news-area {
    text-align: center;
    background: #F9F9F9;

    p {
        font-size: 18px;
        margin-bottom: 40px;
    }
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid $light-blue;  
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid $light-blue;
    background: $light-blue;
    text-transform: uppercase;
    color: #FFF;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: 0.5s;

    &:hover {
        background: #FFF;
        color: $light-blue;
    }
}

// Call to action

#call-area {
    background: $light-blue;
    text-transform: uppercase;
    
    .container {
        padding: 40px 100px;
    }

    .row {
        display: block;
        text-align: center;
    }

    p {
        color: #FFF;
        font-weight: bold;
        font-size: 20px;
        width: auto;
        letter-spacing: 2px;
        margin-bottom: 0;
        display: inline;
        height: 60px;
        line-height: 60px;
    }

    #call-btn {
        background: #FFF;
        color: $light-blue;
        font-weight: bold;
        font-size: 20px;
        margin-left: 30px;
        width: auto;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }
}