$light-blue: #65daf9;
$dark-blue: #1c2667;
$green: #76b041;
$medium-blue: #054ce0;

// Gerais

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 70px;
}

body {
    font-family: "Roboto", sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #444;
    font-size: 14px;
}

// Navigation Bar

header,
.navbar {
    background: linear-gradient(90deg, rgba(0, 63, 116, 1) 0%, rgba(0, 118, 208, 1) 100%);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Akshar", sans-serif;

    padding: 0;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

#navbar-links {
    a {
        color: #fff;
    }
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding: 1rem 0.8rem;
            transition: 0.7s;

            &:hover {
                background: darken($dark-blue, 5);
                transform: scale(1.08);
            }
        }
    }
}

// Slider

.container-fluid {
    padding: 0;
}

#mainSlider {
    .carousel-inner,
    .carousel-item {
        height: 90vh;
    }

    .carousel-caption {
        top: 30%;

        letter-spacing: 0.7px;

        h2 {
            font-family: "Akshar", sans-serif;
            font-size: 70px;
            margin-bottom: 30px;
        }

        p {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 60px;
            color: #fff;
        }
    }

    .carousel-item {
        img {
            opacity: 0.9;
            transition: 0.7s;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }
}

.main-btn {
    background: $light-blue;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;

    &:hover {
        text-decoration: none;
        color: #fff;
        background: transparent;
        border-color: $light-blue;
    }
}

.carousel-indicators {
    .active {
        background: $light-blue;
    }
}

//  About the company

#about-area {
    background: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 46px;
    text-align: center;

    &::after {
        content: "";
        border-top: 2px solid #333;
        width: 15%;
        position: absolute;
        top: 60px;
        left: 42.5%;
    }
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;

    li {
        line-height: 30px;
    }

    i {
        color: $green;
        margin-right: 15px;
    }
}

// Services

.service-box {
    text-align: center;
    margin-bottom: 35px;

    i,
    h4 {
        transition: 0.5s;
    }

    i {
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }

    h4 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
    }

    &:hover {
        i,
        h4 {
            color: $green;
        }
    }
}

// About recycling

#recycle-info {
    p {
        font-size: 20px;
        color: #444;
    }

    .recy-title {
        font-family: "Akshar", sans-serif;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #ciclo-reciclagem {
        background-image: url("../img/recycling.png");
        background-size: contain;
        background-repeat: no-repeat;

        height: 500px;
    }
}

// Work with us

#apply-area {
    height: 520px;

    .container-fluid,
    .row {
        height: 100%;
    }

    .apply-box {
        text-align: center;
        padding: 60px 50px;
    }

    #pattern-img {

        h4,
        p {
            color: #fff;
        }

        h4 {
            font-family: "Akshar", sans-serif;
            font-size: 3.5em;
            margin-top: 8%;
            margin-bottom: 40px;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    #apply-btn {
        display: block;
        height: auto;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        background-color: transparent;
        border-color: #fff;

        &:hover {
            border-color: $light-blue;
            background-color: $light-blue;
        }
    }
}


// Call to action

#call-area {
    background: $light-blue;
    text-transform: uppercase;

    .container {
        padding: 40px 100px;
    }

    .row {
        display: block;
        text-align: center;
    }

    p {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        width: auto;
        letter-spacing: 2px;
        margin-bottom: 0;
        display: inline;
        height: 60px;
        line-height: 60px;
    }

    #call-btn {
        background: #fff;
        color: $light-blue;
        font-weight: bold;
        font-size: 20px;
        margin-left: 30px;
        width: auto;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
    }
}

// Footer

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3ec1d5;

    i {
        color: #444;
        border: solid 1px #444;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 24px;
        margin-bottom: 20px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.35);
            color: $light-blue;
            border-color: $light-blue;
        }
    }

    p {
        font-size: 16px;
    }
}

.contact-title {
    font-weight: bold;
    color: #3ec1d5;
}

#msg-box {
    p {
        font-size: 22px;
    }
}

#contact-form {
    .form-control {
        margin-bottom: 0px;
        border-radius: 0;
    }

    label {
            text-align: left;
            font-size: 18px;
            font-weight: bold;
            font-family: "Akshar", sans-serif;
            margin-right: 90%;
        }

    .main-btn {
        width: 120px;
        height: 50px;
        margin-top: 15px;

        &:hover {
            color: #3ec1d5;
        }
    }
}
// Copy

#copy-area {
    background: #dfdfdf;

    .container {
        padding: 10px 0;
        text-align: center;

        p {
            margin-bottom: 0;
        }

        a {
            font-weight: bold;
            color: #444;
            transition: 0.35s;

            &:hover {
                text-decoration: none;
                color: #3ec1d5;
            }
        }
    }
}

// Responsivity

//  Tablets

@media (max-width: 768px) {
    // Geral

    .container {
        padding: 20px 0;
    }

    // Slider

    #mainSlider {
        .carousel-inner,
        .carousel-item {
            height: auto;
        }

        .carousel-caption {
            left: 10%;
            right: 10%;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
                margin-bottom: 40px;
            }
        }
    }

    // About

    #about-area {
        img {
            margin-top: 100px;
        }
    }

    // Data
    .circle-box {
        div {
            padding: 0 10px;
        }
    }

    #data-area {
        p {
            font-size: 16px;
        }
    }

    // Team
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }

    // Apply
    #apply-area {
        .apply-box {
            padding: 50px 25px;
        }
    }

    // News
    #news-area {
        p {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #email-input {
        width: 70%;
    }

    #call-area {
        margin-top: 30px;

        .container {
            padding: 30px;
        }

        p,
        #call-btn {
            font-size: 16px;
        }
    }
}

@media (max-width: 425px) {
    // Slider

    .main-title {
        font-size: 30px;
        margin-top: 30px;

        &::after {
            margin-top: 30px;
        }
    }

    #mainSlider {
        margin-top: 90px;

        .carousel-caption {
            top: 5%;

            h2 {
                font-size: 18px;
                margin-bottom: 40px;
            }

            p {
                display: none;
            }

            .main-btn {
                font-size: 14px;
            }
        }
    }

    // About
    #about-area {
        img {
            width: 95%;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    // Data-area
    .circle-box {
        width: 50%;

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 30px;
        }
    }

    // Team
    #team-area {
        .card-title {
            font-size: 18px;
        }

        .col-md-3 {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    // apply
    #apply-area {
        height: auto;
    }

    #company-img {
        display: none;
    }

    // Filter
    #portfolio-area {
        .filter-btn {
            margin-bottom: 20px;
        }

        .project-box {
            width: 50%;
        }
    }

    // News
    #news-area {
        .main-title {
            font-size: 24px;

            &::after {
                margin-top: 0;
            }
        }

        p {
            font-size: 16px;
        }
    }

    #email-input {
        width: 85%;
    }

    // Call-to-action
    #call-area {
        .container,
        .row {
            padding: 10px;
        }

        p,
        #call-btn {
            font-size: 14px;
            letter-spacing: 0;
            margin: 0;
            width: 50%;
        }
    }

    // Contact
    .contact-box {
        border: none;
        margin-bottom: 0;
        margin-top: 0;
    }
}
